.container {
  position: relative;
  margin-top: -150px;
}

.suggestions {
  position: relative;
  border-bottom: 1px solid #ccc;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 250px;
  overflow-y: auto;
  padding-left: 0;
  width: 300px;
  position: absolute;
  box-shadow: inset 15px 0px 12px rgba(255, 255, 255, 1), 
              inset -15px 0px 12px rgba(255, 255, 255, 1), 
              inset 0px 1px 8px rgba(0, 0, 0, 0.5);
}

.suggestionsItem {
  padding: 15px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active {
  background-color: rgb(251, 244, 238);
  cursor: pointer;
  font-weight: 700;
}

.suggestionsItem:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}

.preInput {
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  opacity: 0.2;
  font-family: 'Kanit', sans-serif;
  border: none;
  border-bottom: 1px solid #999;
  padding: 20px 15px 15px 45px;
  font-size: 20px;
  width: 300px;
  outline: none; 
}

.input {
  font-family: 'Kanit', sans-serif;
  border: none;
  border-bottom: 1px solid #999;
  padding: 20px 15px 15px 45px;
  font-size: 20px;
  width: 300px;
  outline: none;
  background-image: url('/search-icon.png');
  background-size: 30px;
  background-position: 10px 20px;
  background-repeat: no-repeat;  
}